.login{
    height: 100vh;
    border: 2px solid #b3b3b3;
    background-image: linear-gradient(#0000007e,#0000007e);
    background-image: url(/src/assets/background_banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 8%;

}

.login-form{
    width: 100%;
    height: 100%;
    max-width: 450px;
    background: rgba(0,0,0, 0.75);
    border-radius: 30px;
    padding: 60px;
    margin: auto;
    border: 2px solid #b3b3b3;

}
.login-form .title-form{
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;

}
.login-form input{
    width: 100%;
    height: 50px;
    background: #333;
    color: white;
    margin: 12px 0;
    border: 0;
    outline: 0;
    border-radius: 4px;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #b3b3b3;

}
.login-form::placeholder{
    font-style: 16px;
    font-weight: 500;
}
.login-form .BotonIniciar{
    border: 2px solid #b3b3b3;
    width: 50%;
    border: 0;
    outline: 0;
    padding: 16px;
    background: #e50914;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
}
.login-form .BotonIniciar .boton{
    color: white;
    text-decoration: none;
    

}

.login-form .BotonIniciar:hover{
    transition: 0.1s;
    transform: scale(1.2);

}    


.form-help{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #b3b3b3;
    font-size: 13px;
}
.remember{

    display: flex;
    align-items: center;
    gap: 5px;
}
.remember input{
    width: 18px;
    height: 18px;
}
.form-switch{
    margin-top: 40px;
    color: #737373;
}

.form-switch span{
    margin-left: 6px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}