.navbar{
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: l4px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg ,rgba(0,0,0,0.7) 10% ,transparent);
    z-index: 1;
}

.navbar .navbar-left{
    display: flex;
    align-items: center;
    gap: 50px;
}
.navbar-left ul .a1:hover{
    color: rgb(238, 18, 18);
    border-radius: 10px;
    transition: 0.1s;
    transform: scale(1.2);



}
.navbar-left h4{
    color:  red;
    font-size: 1.7em;
}

.navbar-left ul{
    display: flex;
    list-style: none;

    gap: 40px

}
.navbar-left ul .a1{
    cursor: pointer;
    text-decoration: none;
    color: white;

}
/* NAVEGODRES DERECHOO */
.navbar-right{
    display: flex;
    gap:20px;
    align-items: center;

}

.navbar-right .icons{
    width: 20px;
    cursor: pointer;
}
.navbar-right .profile{
    border-radius: 4px;
    width: 35px;

}
.navbar-profile{
    display: flex;
    align-items: center;
    gap:10px;
    cursor: pointer;
    position: relative;
}
.navbar .dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 18px 22px;
    border-radius: 2px;
    text-decoration: none;
    z-index: 1;
    display: none;
}
.navbar .dropdown button{
    font-size: 13px;
    cursor: pointer;
    width: 100%;
    height: 100%;

}
.navbar-profile:hover .dropdown{
    display: block;
}


