.player{
    height: 100vh;
    border: 2px solid white;
}
.player-videos{
    height: 100vh;
    border: 2px solid rgb(184, 19, 19);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    

}
.player-reproduce{
    width: 300%;
    height: 300%;
    object-fit: cover;
}
